<h1>Listing destinations</h1>


<% @destinations.each do |destination| %>


<div class="destination" >
  <%= link_to (image_tag destination.image_url, :width => 300), destination_path(destination) %>
  <p> <%= destination.name %></p>
<% end %>
</div>

